@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">search posts</a>
</p>

<form asp-controller="Home" asp-action="Search">
    <p>
        <input type="text" name="SearchString" placeholder="search your post" style="left:100px;width:650px;padding:8px;"  />
        <input type="submit" value="Search your post" style="font-size:1.5em;"class="btn btn-success" />
    </p>
</form>


<div class="row pb-3">
    @foreach (var item in Model)
    {
        <div>

            <div style="border:5px solid #010;border-radius:5px;margin-bottom:20px;height:200px">

                <h3 class="text-dark" style="text-align:center;">@item.Category </h3>
                <h3 class="card-title  text-dark">@item.Title</h3>
                <h3 class="card-title  text-dark"> @item.Description</h3>
              
            </div>

            <div>
                <a asp-action="Index" class="btn btn-success form-control"> Details</a>
            </div>

        </div>
    }

</div>