@model bloog.Models.ViewModels.BlogsInfoVM

<form method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="row">
                    <div class="col-6  pt-2">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Pinned posts
                    </div>
                    <div class="col-6 text-end">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index"  class="btn btn-outline-info btn-sm">back home</a>
                    </div>
                </div>
            </div>
        
            <div class="card-body">
                @foreach (var item in Model.ListBlogs)
                {
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                        </div>
                        <div class="col-12 col-lg-6 pt-md-3">
                            <h5><strong>@item.Blog.Title</strong></h5>
                            <p><small>@Html.Raw(item.Blog.Description)</small></p>
                        </div>
                        <div class="col-12  col-lg-5 text-center row">
                            <div class="col-4 text-md-right pt-4">
                            </div>
                           
                        </div>

                        <div>
                            <a asp-controller="Home" asp-action="Details" class="btn btn-success form-control" asp-route-BlogId="@item.BlogId"> go to post</a>
                        </div>
                    </div>
                    <hr />
                }
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                    </div>
                </div>

            </div>


        </div>
    </div>
</form>